/*******************\
    Global
\*******************/

@use "variables" as *;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 74.5rem;
  margin-inline: auto;
}

body {
  background-color: $col-neutral-100;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 74.5rem;
  margin-inline: auto;

  @media (max-width: 850px) {
    max-width: 48rem;
    padding: 0 2rem;
  }

  @media (max-width: 450px) {
    max-width: 23.4375rem;
    padding: 0 1rem;
  }
}

.hide__desktop {
  display: none;
  @media (max-width: 450px) {
    display: block;
  }
}

.hide__mobile {
  display: block;
  @media (max-width: 450px) {
    display: none;
  }
}
