/*******************\
    Variables 
\*******************/

/*******************\
    Colors 🌈
\*******************/

$col-neutral-900: #163a34;
$col-neutral-600: #395852;
$col-neutral-300: #d0dcd9;
$col-neutral-200: #e0e6e3;
$col-neutral-100: #f6f5f1;

$col-white: #fff;
$col-orange: #fe9f6b;
$col-teal: #49ac9b;
$col-indigo: #697ddb;

/*******************\
    Border radius
\*******************/

$br-0: 0;

$br-4: 4px;
$br-6: 6px;
$br-8: 8px;
$br-10: 10px;
$br-12: 12px;
$br-16: 16px;
$br-20: 20px;
$br-24: 24px;
$br-full: 999px;
