/*******************\
    Description
\*******************/

@use "../font" as *;
@use "../variables" as *;

.description {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  &__heading {
    @include Nunito-EB-48-120;
    color: $col-neutral-900;
    @media (max-width: 850px) {
      @include Nunito-EB-40-120;
    }
  }

  &__text {
    @include NunitoSans-M-20-150;
    color: $col-neutral-600;
  }
}
