/*******************\
    More
\*******************/

@use "../font" as *;
@use "../variables" as *;

.more {
  &__inner {
    padding: 4rem 0 6rem;
    @media (max-width: 850px) {
      padding: 3rem 0;
    }
  }
  border-bottom: 1px solid $col-neutral-200;

  &__heading {
    @include Nunito-B-32-130;
    color: $col-neutral-900;
    margin-bottom: 1.5rem;
    @media (max-width: 850px) {
    }
  }
}
