/*******************\
    Explore
\*******************/

@use "../font" as *;
@use "../variables" as *;

.explore {
  &__inner {
    max-width: 45.75rem;
    margin-inline: auto;
    padding: 5rem 0 4rem;
    text-align: center;

    @media (max-width: 850px) {
      text-align: left;
      padding: 4rem 0 3rem;
    }

    @media (max-width: 450px) {
      padding: 3rem 0;
    }
  }

  &__heading {
    @include Nunito-EB-48-120;
    color: $col-neutral-900;
    margin-bottom: 0.75rem;
  }

  &__text {
    @include NunitoSans-M-20-150;
    color: $col-neutral-600;
  }
}
